# Data Cleaning Notes

In [3]:
%matplotlib inline
import pandas as pd

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
gear = pd.DataFrame.from_csv('1033-program-foia-may-2014.csv')
gear.head()

,County,NSN,Item Name,Quantity,UI,Acquisition Cost,Ship Date
State,,,,,,,
AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,2012-08-30
AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,2012-08-30
AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,2012-08-30
AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,2012-08-30
AK,ANCHORAGE,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499.0,2012-08-30

In [ ]:
# To see what text enconding your data is in:

import chardet
chardet.detect(gear)

In [10]:
# See which columns are present

gear.columns

Index(['County', 'NSN', 'Item Name', 'Quantity', 'UI', 'Acquisition Cost',
       'Ship Date'],
      dtype='object')

In [8]:
# Summary statistics

gear.describe()

            Quantity  Acquisition Cost
count  243492.000000      2.434920e+05
mean       11.289784      6.181218e+03
std       242.904563      1.152780e+05
min         1.000000      0.000000e+00
25%         1.000000      6.045000e+01
50%         1.000000      2.000000e+02
75%         4.000000      4.990000e+02
max     91000.000000      1.800000e+07

In [11]:
# Object types

gear.info()

<class 'pandas.core.frame.DataFrame'>
Index: 243492 entries, AK to WY
Data columns (total 7 columns):
County              243422 non-null object
NSN                 243309 non-null object
Item Name           239658 non-null object
Quantity            243492 non-null int64
UI                  243491 non-null object
Acquisition Cost    243492 non-null float64
Ship Date           243492 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 14.9+ MB

# Be very careful about merging data that is different types. Data can be lost.

In [ ]:
# Can tell pandas how to import columns (what data type)

pd.read_csv('1033-program-foia-may-2014.csv', dtype={
        'column_1':int,
        'column_2':object
    })

# Or after you can explicitly convert it after importing:
df.column = df.column.astype(int)

# Identifiers (phone #'s, zip codes, etc) are not numbers!

# Dealing with N/A Values

In [ ]:
gear = pd.DataFrame.from_csv('1033-program-foia-may-2014.csv', na_values=["N/A", "Unknown"])

# Or

df.replace("N/A", None)

In [ ]:
# Fill N/A values, can also drop but this will drop that column

df.fillna(method='bfill')

In [ ]:
# Selecting columns:

df.columnname

#Or

df['columnname']

# Multiple columns

df[['Column 1', 'Column 2']]

In [ ]:
# Value counts is awesome, shows how many times a value appears in a column, can pass lists

df.columnname.value_counts()[20:]

In [ ]:
# Replace values in a column

df = df.replace({"UI":["EA", "Each", "PR"]},
               {"UI":["Each", "Each", "Pair"]})

# Merging Dataframes:
    
    Make sure the types match
    
    Check dataframe size before and after
    
    try with how=inner, and how=outer

# 1. Wrangle Data
# 2. Run calculations on standardized data
# 3. Run through cleaning/analysis code

# Load data by 'chunksize' if it won't fit in memory

http://pandas.pydata.org/pandas-docs/stable/missing_data.html